/* .app-outer {
   align-items: center; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width : 100px;
}

.app-inner {
   height: 100%;
   width: 100%;
} */

/* .tag-cloud {
   flex: 1;
}

.tag-cloud > div {
   transition: 1.4s;
} */

.tagcloud{
    max-width: 700px; 
    margin: 0 auto;
}

/* .tag-cloud-tag{
    color: red;
} */
/* .tags{
    color: blue;
    background-color: blue;
} */