.app-outer {
   align-items: center; 
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.app-inner {
   height: 100%;
   width: 100%;
}

.tag-cloud {
   flex: 1;
}

.tag-cloud > div {
   transition: 1.4s;
}

.light-border{
    border:2px lightgray solid;
}