.App {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: calc(112.5% + 0.25vw);
    max-width: 100%;
}

/* NAV-BAR */

.nav-link {
    /* opacity: 0; */
}

.NavBar .nav-name {
    font-size: 36px;
    margin-left: 10px;
}

.NavBar {
    list-style-type: none;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #f1f1f1;
    z-index: 500;
    height: 2em;
}

.nav-link {
    font-weight: 300;
    float: right;
    display: block;
    color: #666;
    text-align: center;
    padding: 0.7em 0.7em;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.nav-link:hover:not(.active) {
    background-color: #bafffc;
    color: #16223C;
}

/* WELCOME */

.Welcome {
    margin-top: 15vh;
    margin-bottom: 15vh;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Welcome .i-hov {
    color: black;
    margin: 10px;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.welcome-intro strong {
    font-weight: 900;
}

.welcome-intro {
    font-weight: 100;
    font-size: 1em;
}

.main-pic {
    width: 15vw;
    min-width: 200px;
}

.Welcome .resume-button {
    font-size: 18px;
    width: 200px;
}

.Welcome .i-hov:hover {
    color: #00f2e7;
    display: inline-block;
}

.Welcome button {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Welcome button:hover {
    background-color: #00f2e7;
    border: 2px solid;
    border-color: #00f2e7;
    color: white;
}

/* Section Titles */

h2 {
    font-weight: 100;
    font-size: 2em;
    padding-top: 10vh;
}

p {
    font-size: 0.8em;
}

.main-pic {
    border-radius: 50%;
    width: 28vw;
    padding: 20px;
}

.Projects {
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
}