@media all and (max-width: 770px) {

  .heading {
    font-size: 25px;
    line-height: 30px;
  }

  .thumb {
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
  }

  .nav-link {
    opacity: 0;
  }

  .NavBar {
    height: 50px;
  }

  .NavBar .nav-name {
    font-size: 36px;
    margin-left: 10px;
  }

  .Welcome {
    display: flex;
    flex-wrap: wrap;
    /*margin-top: 50px;*/
    min-height: 85vh;
  }

  .welcome-intro {
    padding-top: 15%;
  }

  .Welcome > .main-pic {
    width: 200px
  }

  .Welcome .resume-button {
    font-size: 18px;
    width: 200px;
  }
}


.App {
  text-align: center;
}

.header h1 {
  font-size: 50px;
  line-height: 30px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

h2 {
  font-size: 50px;
  line-height: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.Welcome {
  display: flex;
  background-color: #FFF;
  height: 80vh;
  padding-left: 75px;
  padding-right: 75px;
  align-items: center;
  /*text-align: center;*/
  justify-content: center;
}

.Welcome .i-hov {
  color: black;
  margin: 10px;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.Welcome .i-hov:hover {
  color: #00f2e7;
  display: inline-block;
}

.Welcome button {
  font-family: "Montserrat", sans-serif;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Welcome button:hover {
    background-color: #00f2e7;
    border: 2px solid;
    border-color: #00f2e7;
    color: white;
}

.main-pic {
  border-radius: 50%;
  width: 28vw;
  padding: 20px;
}

.welcome-intro strong {
  font-weight: 900;
}

.Projects {
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
}

.NavBar {
  list-style-type: none;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  /*border: 1px solid #e7e7e7;*/
  background-color: #f1f1f1;
  z-index: 500;
}

.nav-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  float: right;
}

.nav-last {
  margin-right: 60px;
}

.nav-link {
  display: block;
  color: #666;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.nav-link:hover:not(.active) {
  background-color: #bafffc;
  color: #16223C;
}


@media all and (min-width: 1600px) {
  html {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .NavBar {
    max-width: 70vw;
  }
}

@media all and (min-width: 2200px) {
  html {
    padding-left: 25vw;
    padding-right: 25vw;
    font-size: 150%;
  }

  .NavBar {
    max-width: 50vw;
  }
}